body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .clock {
    width: 200px;
    height: 200px;
    border-radius: 90%;
    position:absolute;
    border: 5px solid black;
  }
  
  .hour-hand, .minute-hand, .second-hand {
    position: absolute;
    background-color: black;
    transform-origin: center;
  }
  
  .hour-hand {
    width: 5px;
    height: 60px;
  }
  
  .minute-hand {
    width: 3px;
    height: 70px;
  }
  
  .second-hand {
    width: 1px;
    height: 80px;
  }
  